.product-banner {
  height: 300px;
  box-shadow: 0 0 15px gray;
  background-image: linear-gradient(
      45deg,
      rgba(40, 228, 200, 0.7),
      rgba(155, 193, 32, 0.7)
    ),
    url(https://imgs.search.brave.com/-RnCa50LfTqof0HHejB3_IN9i_GkYB9cmKYwSI-oZiI/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS12ZWN0/b3IvZmFzaGlvbi1z/dHVmZi1tb2JpbGUt/cGhvbmUtc2FsZS1i/YW5uZXItb25saW5l/LXNob3BwaW5nLWFw/cGxpY2F0aW9uLTNk/LXJlYWxpc3RpYy1h/cnQtc3R5bGUtcGFz/dGVsLXNjaGVtZS12/ZWN0b3ItaWxsdXN0/cmF0aW9uXzY3NTkw/LTEyODkuanBnP3Nl/bXQ9YWlzX2h5YnJp/ZCZ3PTc0MA);

  background-repeat: no-repeat; /* Prevents the image from tiling/repeating. */
  background-size: 100% 100%; /* Stretches the image to cover exactly the width/height*/
  background-position: center; /* Centers the image inside the box. */

  /* align-items: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.product-banner h1,
p {
  color: rgb(0, 109, 251);
  text-align: center;
}
.product-banner h1 {
  font-size: 62px; /* Big bold title (banner heading). */
  margin-bottom: 10px; /* Spacing between h1 and next element. */
}
.product-banner p {
  font-size: 18px;
}
.product-category {
  width: 1300px;
  margin: 15px auto;
  background-color: aquamarine;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.product-category img {
  margin: 15px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 10px black;
}
.product-category h3{
  text-align: center;
  margin-top: 5px;
}
.product-data {
  width: 1100px;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
.product-data .card {
  width: 290px;
  height: 370px;
  box-shadow: 0 5px 15px greenyellow;
  text-align: center;
  padding: 5px;
  background-color: aquamarine;
}
.product-data .card img {
  width: 100%;
  height: 200px;
}
.product-data .card h {
}

.active {
  box-shadow: 10px 15px 25px rgb(0, 0, 0);
  border: 2px solid rgb(128, 0, 19);
}
.inactive {
  color: white;
  box-shadow: 0, 0, 5px black;
}
