.nav {
  height: 80px;
  background-color: rgb(43, 97, 91);
  display: grid;
  grid-template-columns: 30% 50% 20%;
}
#brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

#brand h1 {
  font-size: 37px;
  color: cornsilk;
}

#icons {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#icons i {
  margin-right: 20px;
}
#icons button {
  padding: 10px 30px;
  background: gray;
  border: 1px solid rgb(238, 131, 131);
  border-radius: 10px;
  color: rgb(107, 213, 227);
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0 2px 15px goldenrod;
}
#links {
  display: flex;
  justify-content: center;
  align-items: center;
}
#links a {
  margin-right: 50px;
  text-decoration: none;
  font-size: 17px;
  color: white;
}

#categories {
  height: 100px;
  width: 1200px;
  margin: 30px auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding: 20px;
  box-shadow: 0 0 10px black;
}